In [1]:
for temp in range(0,20):
    print(temp)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [2]:
for temp in range(10,20):
    print(temp)

10
11
12
13
14
15
16
17
18
19

In [5]:
items_List = [10, 20, 14, 55, 43, 87, 76] 

print("Number of item in the List2: ",len(items_List))

Number of item in the List2:  7

In [6]:
text = "Artificial Intelligence"

for temp in text:
    print(temp)

A
r
t
i
f
i
c
i
a
l

I
n
t
e
l
l
i
g
e
n
c
e

In [10]:
print("-Your Name-\n-Your Age-\n-Your Profession-")

-Your Name-
-Your Age-
-Your Profession-

In [13]:
tuples = (1, 'Welcome', 2, 'Hope') 
print(tuples)

(1, 'Welcome', 2, 'Hope')

In [14]:
tuples_1 = (0, 1, 2, 3)
tuples_2 = ('python', 'HOPE')
tuples_3 = (tuples_1, tuples_2)
print(tuples_3)

((0, 1, 2, 3), ('python', 'HOPE'))

In [15]:
values_list = (20,10,16,19,25,1,276,188) 

for temp in values_list:
    if(temp % 2 == 1):
        print(temp, " is odd")

19  is odd
25  is odd
1  is odd

In [16]:
values_list = (20,10,16,19,25,1,276,188) 

for temp in values_list:
    if(temp % 2 == 0):
        print(temp, " is even")

20  is even
10  is even
16  is even
276  is even
188  is even