In [2]:
print("HOPE AI")

HOPE AI

In [3]:
input("Enter your institute name? :")

Enter your institute name? : HOPE AI

'HOPE AI'

In [4]:
input("Enter your name: ")
int(input("Enter your age: "))
input("Enter your school name: ")
input("Enter your drgree: ")

Enter your name:  Raj
Enter your age:  15
Enter your school name:  Guru school
Enter your drgree:  B.E CSE

'B.E CSE'

In [5]:
value1 = 43 
value2= 34 

print("a= ",value1)
print("b= ",value2)
print("add = ",value1+value2)

a=  43
b=  34
add =  77

In [6]:
value1 = 43 
value2= 34 

print("a= ",value1)
print("b= ",value2)
print("Sub = ",value1-value2)

a=  43
b=  34
Sub =  9

In [7]:
value1 = 63 
value2= 97 

print("a= ",value1)
print("b= ",value2)
print("Mul = ",value1*value2)

a=  63
b=  97
Mul =  6111

In [8]:
value1 = 76 
value2= 31 

print("a= ",value1)
print("b= ",value2)
print("Float Div = ",value1/value2)

a=  76
b=  31
Float Div =  2.4516129032258065

In [9]:
value1 = 76 
value2= 31 

print("a= ",value1)
print("b= ",value2)
print("Floor Div = ",value1//value2)

a=  76
b=  31
Floor Div =  2

In [10]:
value1 = 76 
value2= 31 

print("a= ",value1)
print("b= ",value2)
print("Modulo = ",value1%value2)

a=  76
b=  31
Modulo =  14

In [11]:
value1 = 4 
value2= 4 

print("a= ",value1)
print("b= ",value2)
print("Power = ",value1**value2)

a=  4
b=  4
Power =  256